<h3><%= @TITLE %> </h3>
<%=    form_tag(:action => :update_assosiation)+submit_tag('更新') %>
<input type="hidden" id="id" name="id" value="<%= @model.id %>" />
<table border=1>
<%= label_line_comm 2,@AssosiationLabels %>
<% @assosiations.each do |obj|  -%>
  <tr id='<%= obj.id %>'><% @AssosiationLabels.each{|html_cell| 
        next if html_cell.class==Html::Hidden || html_cell.class==Html::Passwd ||  html_cell.field_disable(controller) -%>
  <%= html_cell.td %><%= html_cell.edit_field_with_id :assosiation,obj,controller %></td><% } %>
  </tr>
<% end %>
</table>
<br />
<hr>
<%= raw @PostMessage %>
</form>
