<h3><%= @TITLE %></h3>
<%= error_messages_for @model %>
<%=    form_tag(:action => :create)+submit_tag('作成') %>
<table border=1><%= label_line %>
<% id = @model.id -%>
<%= "<tr id='pro_#{id}'>" %><% @labels.each{|html_cell| -%>
 <td><%= html_cell.edit_field @Domain,@model,controller %></td><% } -%>
</tr>
</table>
</form>
<br />
<hr>
<%= @PostMessage.html_safe %>
