<h3><%= @TITLE %> </h3>
<%= form_for(@model) do |f| %>
  <%= hidden_field_tag "page",@page %>
  <%= @model.errors.full_messages.join %>
  <%= f.submit '更新' %>
  <table border=1><%= label_line_option %>
    <% id = @model.id -%>
    <tr id='pro_<%= id %>' >
      <% @labels.each{|html_cell| -%>
        <%= raw html_cell.td -%><%= html_cell.disp(@model) -%></td>
      <%- } -%>
   </tr>
  </table>

  <% if @AssosiationLabels %>
    <p>
     <table border=1><tr><td colspan=4>
    <%= add_edit_buttoms(:assosiation,:add_action => :add_assosiation,
                     :edit_action => :edit_assosiation,
                     :id => @model.id) %></td></tr>
    <%= label_line_comm 2,@AssosiationLabels %>
    <% @assosiations.each do |obj|  -%>
      <tr id='<%= obj.id %>'><% @AssosiationLabels.each{|html_cell| 
          next if html_cell.class==Html::Hidden || html_cell.class==Html::Passwd ||  html_cell.field_disable(controller) -%>
      <%= html_cell.td %><%= html_cell.disp_field obj %></td><% } %>
      <%= delete_connection_if_accepted(obj) %>
      </tr>
   <%- end %>
  </table>
<%- end %>
<br />
<hr>
<%= raw @PostMessage %>
<% if @image_source %>
<img src='<%= @image_source %>'>
<% end %>

<% end %>
